.about {
  display: flex;
  padding: 80px 104px;
}

.about__info {
  display: flex;
  flex-direction: column;
  margin: 51px 0 0 56px;
  max-width: 600px;
}

.about__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

.about__info-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
