.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 80px;
  padding: 0 104px;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

.footer__link {
  margin: 0;
  text-decoration: none;
  color: black;
  cursor: default;
}

.footer__link_home {
  text-decoration: none;
}

.footer__name {
  margin: 0;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: rgba(182, 188, 191, 1);
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 40px;
    height: 64px;
  }

  .footer__links {
    gap: 0;
  }

  .footer__link {
    margin-right: 40px;
  }

  .footer__link:nth-of-type(3) {
    margin-right: 24px;
  }

  .footer__link:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 426px) {
  .footer {
    padding: 0 16px;
    height: 176px;
    max-width: 300px;
    flex-direction: column-reverse;
  }
}
